*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 14px;
}
a{
  text-decoration: none;
  color:#1b56b7;
}
li{
  list-style-type: none;
}
.content-box{
  width: 100%;
  max-width: 1000px;
  margin: 120px auto;
  padding: 16px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b9b9b9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b9b9b9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b9b9b9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #b9b9b9;
}
@media screen and (max-width: 1200px){
  .content-box{
    margin: 0;
    box-shadow: none;
  }
}
