.animate {
  transition: var(--ease);
}
.fade{
  opacity: 0 !important;
  transition: opacity 1s cubic-bezier(0.42, 0, 1.0, 1.0);
  transition-delay: 2.5s
}
.show{
  z-index: 10 !important;
  opacity: 1 !important;
  transition: var(--ease);
}

@keyframes titles {
   0% {
     top:100vh;
   }
   100% {
     top: -180vh;
   }
}

@keyframes rotateRight {
  0% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  50% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(1deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(-2deg);
  }
  50%{
    transform: rotateZ(-1deg)
  }
  100% {
    transform: rotateZ(-1deg);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1, 1);
  }
  15% {
    transform: scale(2, 2);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(0.2, 0.2);
  }
  20% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes verticalRotate {
  0% {
    transform: rotateX(150deg);
  }
  20% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes horizontalRotate {
  0% {
    transform: rotateY(150deg);
  }
  20% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.titles{
  animation-name: titles;
  animation-duration: 20s;
}

/*---FROM TOP DIRECTION---*/

.moveFromTop {
  animation-name: moveFromTop;
  animation-duration: var(--animation-time);
}

.moveFromTop.verticalRotate {
  animation-name: moveFromTop, verticalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromTop.horizontalRotate {
  animation-name: moveFromTop, horizontalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromTop.scaleUp {
  animation-name: moveFromTop, scaleUp;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromTop.scaleDown {
  animation-name: moveFromTop, scaleDown;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromTop.rotateLeft {
  animation-name: moveFromTop, rotateLeft;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromTop.rotateRight {
  animation-name: moveFromTop, rotateRight;
  animation-duration: var(--animation-time), var(--animation-time);
}


/*---FROM LEFT WIDE  DIRECTION---*/

.moveFromLeft.horiz {
  animation-name: moveFromLeftHoriz;
  animation-duration: var(--animation-time);
}

.moveFromLeft.horiz.verticalRotate {
  animation-name: moveFromLeftHoriz, verticalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.horiz.horizontalRotate {
  animation-name: moveFromLeftHoriz, horizontalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.horiz.scaleDown {
  animation-name: moveFromLeftHoriz, scaleDown;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.horiz.scaleUp {
  animation-name: moveFromLeftHoriz, scaleUp;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.horiz.rotateLeft {
  animation-name: moveFromLeftHoriz, rotateLeft;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.horiz.rotateRight {
  animation-name: moveFromLeftHoriz, rotateRight;
  animation-duration: var(--animation-time), var(--animation-time);
}


/*---FROM LEFT NARROW DIRECTION---*/

.moveFromLeft.vert {
  animation-name: moveFromLeftVert;
  ;
  animation-duration: var(--animation-time)
}

.moveFromLeft.vert.verticalRotate {
  animation-name: moveFromLeftVert, verticalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.vert.horizontalRotate {
  animation-name: moveFromLeftVert, horizontalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.vert.scaleUp {
  animation-name: moveFromLeftVert, scaleUp;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.vert.scaleDown {
  animation-name: moveFromLeftVert, scaleDown;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.vert.rotateLeft {
  animation-name: moveFromLeftVert, rotateLeft;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromLeft.vert.rotateRight {
  animation-name: moveFromLeftVert, rotateRight;
  animation-duration: var(--animation-time), var(--animation-time);
}


/*---FROM RIGHT WIDE  DIRECTION---*/

.moveFromRight.horiz {
  animation-name: moveFromRightHoriz;
  animation-duration: var(--animation-time);
}

.moveFromRight.horiz.horizontalRotate {
  animation-name: moveFromRightHoriz, horizontalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.horiz.verticalRotate {
  animation-name: moveFromRightHoriz, verticalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.horiz.scaleDown {
  animation-name: moveFromRightHoriz, scaleDown;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.horiz.scaleUp {
  animation-name: moveFromRightHoriz, scaleUp;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.horiz.rotateLeft {
  animation-name: moveFromRightHoriz, rotateLeft;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.horiz.rotateRight {
  animation-name: moveFromRightHoriz, rotateRight;
  animation-duration: var(--animation-time), var(--animation-time);
}


/*---FROM RIGHT NARROW  DIRECTION---*/

.moveFromRight.vert {
  animation-name: moveFromRightVert;
  animation-duration: var(--animation-time);
}

.moveFromRight.vert.verticalRotate {
  animation-name: moveFromRightVert, verticalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.vert.horizontalRotate {
  animation-name: moveFromRightVert, horizontalRotate;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.vert.scaleUp {
  animation-name: moveFromRightVert, scaleUp;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.vert.scaleDown {
  animation-name: moveFromRightVert, scaleDown;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.vert.rotateLeft {
  animation-name: moveFromRightVert, rotateLeft;
  animation-duration: var(--animation-time), var(--animation-time);
}

.moveFromRight.vert.rotateRight {
  animation-name: moveFromRightVert, rotateRight;
  animation-duration: var(--animation-time), var(--animation-time);
}
