@media screen and (min-height:861px) {
  .img-container img {
    height: 619px;
  }
  @keyframes moveFromTop {
    0% {
      margin-top: calc(0px - var(--page-full-height));
      margin-left: auto;
      margin-right: auto;
    }
    10% {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }
    100% {
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @keyframes moveFromLeftHoriz {
    0% {
      margin-top: 100px;
      margin-left: calc(0px - var(--page-full-width));
    }
    10% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 1018px/2);
    }
    100% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 1018px/2);
    }
  }
  @keyframes moveFromLeftVert {
    0% {
      margin-top: 100px;
      margin-left: calc(0px - var(--page-full-width));
    }
    20% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 450px/2);
    }
    100% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 450px/2);
    }
  }
  @keyframes moveFromRightHoriz {
    0% {
      margin-top: 100px;
      margin-left: var(--page-full-width);
    }
    10% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 1018px/2);
    }
    100% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 1018px/2);
    }
  }
  @keyframes moveFromRightVert {
    0% {
      margin-top: 100px;
      margin-left: var(--page-full-width);
    }
    20% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 450px/2);
    }
    100% {
      margin-top: 100px;
      margin-left: calc(var(--page-full-width)/2 - 450px/2);
    }
  }
}



@media screen and (max-height:860px) {
  .img-container img {
    height: 550px;
  }
  @keyframes moveFromTop {
    0% {
      margin-top: calc(0px - var(--page-full-height));
      margin-left: auto;
      margin-right: auto;
    }
    10% {
      margin-top: 85px;
      margin-left: auto;
      margin-right: auto;
    }
    100% {
      margin-top: 85px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @keyframes moveFromLeftHoriz {
    0% {
      margin-top: 85px;
      margin-left: calc(0px - var(--page-full-width));
    }
    10% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 904px/2);
    }
    100% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 904px/2);
    }
  }
  @keyframes moveFromLeftVert {
    0% {
      margin-top: 85px;
      margin-left: calc(0px - var(--page-full-width));
    }
    20% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 400px/2);
    }
    100% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 400px/2);
    }
  }
  @keyframes moveFromRightHoriz {
    0% {
      margin-top: 85px;
      margin-left: var(--page-full-width);
    }
    10% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 904px/2);
    }
    100% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 904px/2);
    }
  }
  @keyframes moveFromRightVert {
    0% {
      margin-top: 85px;
      margin-left: var(--page-full-width);
    }
    20% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 400px/2);
    }
    100% {
      margin-top: 85px;
      margin-left: calc(var(--page-full-width)/2 - 400px/2);
    }
  }
}



@media screen and (max-height:810px) {
  .img-container img {
    height: 500px;
  }
  @keyframes moveFromTop {
    0% {
      margin-top: calc(0px - var(--page-full-height));
      margin-left: auto;
      margin-right: auto;
    }
    10% {
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
    }
    100% {
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @keyframes moveFromLeftHoriz {
    0% {
      margin-top: 80px;
      margin-left: calc(0px - var(--page-full-width));
    }
    10% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 821px/2);
    }
    100% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 821px/2);
    }
  }
  @keyframes moveFromLeftVert {
    0% {
      margin-top: 80px;
      margin-left: calc(0px - var(--page-full-width));
    }
    20% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 364px/2);
    }
    100% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 354px/2);
    }
  }
  @keyframes moveFromRightHoriz {
    0% {
      margin-top: 80px;
      margin-left: var(--page-full-width);
    }
    10% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 821px/2);
    }
    100% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 821px/2);
    }
  }
  @keyframes moveFromRightVert {
    0% {
      margin-top: 80px;
      margin-left: var(--page-full-width);
    }
    20% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 364px/2);
    }
    100% {
      margin-top: 80px;
      margin-left: calc(var(--page-full-width)/2 - 364px/2);
    }
  }
}



@media screen and (max-height:760px) {
  .img-container img {
    height: 420px;
  }
  @keyframes moveFromTop {
    0% {
      margin-top: calc(0px - var(--page-full-height));
      margin-left: auto;
      margin-right: auto;
    }
    10% {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }
    100% {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @keyframes moveFromLeftHoriz {
    0% {
      margin-top: 30px;
      margin-left: calc(0px - var(--page-full-width));
    }
    10% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 690px/2);
    }
    100% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 690px/2);
    }
  }
  @keyframes moveFromLeftVert {
    0% {
      margin-top: 30px;
      margin-left: calc(0px - var(--page-full-width));
    }
    20% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 305px/2);
    }
    100% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 305px/2);
    }
  }
  @keyframes moveFromRightHoriz {
    0% {
      margin-top: 30px;
      margin-left: var(--page-full-width);
    }
    10% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 690px/2);
    }
    100% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 690px/2);
    }
  }
  @keyframes moveFromRightVert {
    0% {
      margin-top: 30px;
      margin-left: var(--page-full-width);
    }
    20% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 305px/2);
    }
    100% {
      margin-top: 30px;
      margin-left: calc(var(--page-full-width)/2 - 305px/2);
    }
  }
}
